# Máster en Big Data y Data Science

# Metodologías de gestión y diseño de proyectos de big data

## Seminario III - Actividades de Preparación de los Datos y Modelado

---

### Sprint 1 y 2

### Carga de librerias a utilizar

In [ ]:
# Se importan las librerias a utilizar
import pandas as pd
import numpy as np

from google.colab import files

### Lectura del dataset generado en el Sprint 1

In [ ]:
# Se hace la lectura del dataset del seminario y se obtiene su cabecera
files.upload()

datos = pd.read_csv('datos_completos_filtrado.csv', ',', index_col='Unnamed: 0')
datos.head()

Saving datos_completos_filtrado.csv to datos_completos_filtrado.csv

   sexo  nacionalidad  edad  ... tipo_res_alumno  sit_lab_padres estudios_padres
0     2           1.0    33  ...            -1.0              -1            -1.0
1     2           1.0    35  ...            -1.0              -1            -1.0
2     1           1.0    35  ...             1.0               3             3.0
3     2           1.0    34  ...            -1.0              -1            -1.0
4     2           1.0    38  ...            -1.0              -1            -1.0

[5 rows x 12 columns]

### Revisión de meta-datos

In [ ]:
def descripcionDatosDataset(datos):
    print("Cantidad de filas:", datos.shape[0])
    print("Cantidad de columnas:", datos.shape[1])
    print('-'*100)
    for columna in datos.columns:
        valoresDescripcion = ''
        tipo = ''
        if datos[columna].dtype == 'float64' or datos[columna].dtype == 'int64':
            tipo = 'numérico'
            valoresDescripcion = datos[columna].agg(['min', 'max', 'mean', 'std', 'median'])
        else:
            tipo = 'nominal' #categórico | string | no-numérico
            valoresDescripcion = {'valoresPresentes' : datos[columna].unique(), 
                                  'cantidadNulos' : datos[columna].isna().sum()}
                                 #'conteoValores' : pd.value_counts(datos[columna])}
        print('Columna: ' + columna)
        print('Tipo de datos: ' + tipo)
        print('Descripción de valores:')
        if tipo == 'numérico':
            print(valoresDescripcion)
        else:
            print('-- Valores presentes (10 primeros): ' + str(valoresDescripcion['valoresPresentes'][:10]))
            pctNulos = (valoresDescripcion['cantidadNulos'] / datos.shape[0]) * 100
            print('-- Cantidad de nulos: ' + str(valoresDescripcion['cantidadNulos']) + ' = ' + "{0:.2f}".format(pctNulos) + '%')
        print('-'*100)

In [ ]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2283 entries, 0 to 2292
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sexo              2283 non-null   int64
 1   nacionalidad      2283 non-null   float64
 2   edad              2283 non-null   int64
 3   regular           2283 non-null   object
 4   cnt_readmisiones  2283 non-null   float64
 5   calidad           2283 non-null   object
 6   inactividad       2283 non-null   int64
 7   estado_civil      2283 non-null   float64
 8   sit_lab_alumno    2283 non-null   object
 9   tipo_res_alumno   2283 non-null   float64
 10  sit_lab_padres    2283 non-null   int64
 11  estudios_padres   2283 non-null   float64
dtypes: float64(5), int64(4), object(3)
memory usage: 231.9+ KB

In [ ]:
descripcionDatosDataset(datos)

Cantidad de filas: 2283
Cantidad de columnas: 12
----------------------------------------------------------------------------------------------------
Columna: sexo
Tipo de datos: numérico
Descripción de valores:
min       1.000000
max       2.000000
mean      1.460797
std       0.498570
median    1.000000
Name: sexo, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: nacionalidad
Tipo de datos: numérico
Descripción de valores:
min      -1.000000
max       4.000000
mean      1.032413
std       0.211005
median    1.000000
Name: nacionalidad, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: edad
Tipo de datos: numérico
Descripción de valores:
min       22.000000
max       63.000000
mean      27.899693
std        4.925476
median    27.000000
Name: edad, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: regular
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['S' 'N']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: cnt_readmisiones
Tipo de datos: numérico
Descripción de valores:
min       0.000000
max       2.000000
mean      0.985545
std       0.717419
median    1.000000
Name: cnt_readmisiones, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: calidad
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['A' 'P']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: inactividad
Tipo de datos: numérico
Descripción de valores:
min        0.000000
max       37.000000
mean       1.072711
std        2.735806
median     0.000000
Name: inactividad, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: estado_civil
Tipo de datos: numérico
Descripción de valores:
min       1.000000
max       6.000000
mean      1.041612
std       0.316814
median    1.000000
Name: estado_civil, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: sit_lab_alumno
Tipo de datos: nominal
Descripción de valores:
-- Valores presentes (10 primeros): ['NC' 'N' 'S']
-- Cantidad de nulos: 0 = 0.00%
----------------------------------------------------------------------------------------------------
Columna: tipo_res_alumno
Tipo de datos: numérico
Descripción de valores:
min      -1.000000
max       4.000000
mean      0.053438
std       1.489296
median   -1.000000
Name: tipo_res_alumno, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: sit_lab_padres
Tipo de datos: numérico
Descripción de valores:
min      -1.000000
max       5.000000
mean      0.789750
std       2.088225
median   -1.000000
Name: sit_lab_padres, dtype: float64
----------------------------------------------------------------------------------------------------
Columna: estudios_padres
Tipo de datos: numérico
Descripción de valores:
min      -1.000000
max       7.000000
mean      1.998686
std       2.743089
median    1.000000
Name: estudios_padres, dtype: float64
----------------------------------------------------------------------------------------------------

### Revisión de un atributo en particular

In [ ]:
valores = pd.value_counts(datos.estudios_padres) #Conteo de ocurrencias por valor (not-null)
#valores = pd.value_counts(datos.sit_lab_padres) #Conteo de ocurrencias por valor (not-null)
print(valores)

-1.0    865
 5.0    568
 3.0    304
 1.0    287
 7.0    123
 4.0    104
 2.0     20
 6.0     12
Name: estudios_padres, dtype: int64

### Observaciones

En este punto se podrían aplicar transformaciones que fueran de utilidad para que la exportación de datos sea consistente con los requerimientos de las técnicas a aplicar en la fase siguiente. Ejemplos:
* binarización de atributos